<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kopever.peach.service.eleme.dao.ElemeCookieMapper">
    <insert id="insert" parameterType="ElemeCookieDO">
        insert into `peach`.`eleme_cookie` (
            `user_id`,
            `eleme_key`,
            `language`,
            `name`,
            `avatar`,
            `city`,
            `country`,
            `headimgurl`,
            `nickname`,
            `openid`,
            `privilege`,
            `province`,
            `sex`,
            `unionid`,
            `origin`,
            `status`
        ) values (
            #{userId},
            #{elemeKey},
            #{language},
            #{name},
            #{avatar},
            #{city},
            #{country},
            #{headimgurl},
            #{nickname},
            #{openid},
            #{privilege},
            #{province},
            #{sex},
            #{unionid},
            #{origin},
            #{status}
        )
    </insert>

    <select id="get" resultType="ElemeCookieDO" parameterType="ElemeCookieDO">
        select * from eleme_cookie
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="openid != null">
                and openid = #{openid}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="gmtCreate != null">
                and gmt_create = #{gmtCreate}
            </if>
            <if test="gmtModified != null">
                and gmt_modified = #{gmtModified}
            </if>
        </where>
    </select>

    <select id="getAvailableElemeCookie" resultType="ElemeCookieDO" parameterType="_int">
        select * from eleme_cookie
        where id not in (
            select cookie_id from eleme_cookie_record
            where use_date = curdate()
            group by cookie_id
            having count(*) >= 5
        )
        and status = 1
        limit #{capacity}
    </select>
</mapper>